<style type="text/css">
  p {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    color: red;
  }
  .nav li{
    display: inline-block;
  }
</style>
<div id="header">
<div class="container">
<div ng-controller='customerController'id="" class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="index.html"><img src="themes/images/logo.png" alt="Bootsshop"/></a>
  <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
    <ul id="topMenu" class="nav pull-right">
        <li><a href="#!/">Dashboard</a></li>
        <li><a href="#!/products">Products</a></li>
        <li><a href="#!/customers">Customers</a></li>
        <li><a href="#!/orders">Orders</a></li>
    </ul>
    <label>Search: <input ng-model="searchText"></label>
  </div>
        <p ng-hide ="DNError">{{duplicateNameError}}</p>
        <p ng-hide ="ACError">{{customerError}}</p>
      <form name = "customerForm" ng-submit = "addCustomer();">
        Customer Name : <input type = "text" name = "name" ng-model = 'customer.name' ng-minlength = '1' required>
        <input type = "submit" value = "Add Customer">
      </form>
      <table>
        <tr>
          <th>Name</th>
          <th>Created Date</th>
          <th>Actions</th>
        </tr>
        <tr ng-repeat="customer in customers | filter:searchText:strict track by $index ">
          <td>{{ customer.name }}</td>
          <td>{{ customer.created_at | date:'short' }}</td>
          <td><button ng-click="remove(customer._id);"> Remove Customer</button></td>
        </tr>
      </table>
</div>
</div>
</div>
